# Node.js
node_modules/

# TypeScript
*.tsbuildinfo
*.tsbuildinfo.*
*.log
*.log.*
*.test.ts

# Playwright
playwright-report/
playwright-artifacts/
playwright-logs/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# IDE-specific
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
